.arrow.inactive,
.arrow.active {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-radius: 8%;
  cursor: pointer;
}

.arrow.inactive {
  border-bottom: 2px solid var(--lightpurle);
  border-right: 2px solid var(--lightpurle);
}

.arrow.active {
  border-top: 2px solid var(--lightpurle);
  border-left: 2px solid var(--lightpurle);
}
