.popup {
  position: absolute;
  width: 190%;
  top: 120%;
  padding: 1.3vmin 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--boxShadow);
  background: #fff;
  text-align: center;
  z-index: 1;
}

.popup.inactive {
  display: none;
}

.popup.active {
  display: block;
}

.popup.right {
  width: 127%;
}

.popup.right ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup ul {
  list-style: none;
}

.right-popup-left-content.passenger {
  flex-direction: row;
  gap: 1vmin;
  font-weight: 600;
}

.passengers-array select {
  border-radius: 20px;
  padding: 0.5vmin 1vmin;
  font-family: "Quicksand", sans-serif;
  font-size: 1vw;
  font-weight: 600;
  color: rgb(66, 84, 134);
  background-color: rgb(205, 226, 245);
}

.popup.right .discount {
  border-bottom: none;
}

.popup.city {
  width: 100%;
  max-height: 23vmin;
  border-radius: 0;
  overflow-y: auto;
}

.citiesPopup-container {
  height: 100%;
}

.popup.city::-webkit-scrollbar {
  width: 12px;
}

.popup.city::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.popup.city::-webkit-scrollbar-thumb {
  background: #d1d1d1;
}

.popup.city ul {
  border-radius: 0;
}
